<div class="dashboard">
    <header class="dashboard-header-bar">
        <div class="dashboard-header-inner">
            <div class="dashboard-brand">
                <i class="fa fa-heartbeat"></i>
                <span class="brand-text">{{'APP_TITLE' | translate}}</span>
            </div>
            <div class="dashboard-header-actions">
                <form class="location-selector">
                    <i class="fa fa-map-marker"></i>
                    <select ng-model="selectedLocationUuid" ng-change="onLocationChange()">
                        <option ng-repeat="location in locations | orderBy:'display'" ng-selected="isCurrentLocation(location)" value="{{location.uuid}}">
                            {{location.display | translate}}
                        </option>
                    </select>
                </form>
                <button class="btn-user-info">
                    <i class="fa fa-user-circle"></i>
                    <span class="user-name-text" ng-bind="currentUser.username"></span>
                    <i class="fa fa-chevron-down mini"></i>
                </button>
                <ul class="user-dropdown">
                    <li ng-show=currentUser.username>
                        <a class="disabled">
                            <i class="fa fa-user"></i>
                            <span ng-bind="currentUser.username"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="changePassword()">
                            <i class="fa fa-key"></i>
                            <span>{{'CHANGE_PASSWORD' | translate}}</span>
                        </a>
                    </li>
                    <li ng-show=currentUser.currentLocation>
                        <a class="disabled">
                            <i class="fa fa-map-marker"></i>
                            <span ng-bind="currentUser.currentLocation | translate"></span>
                        </a>
                    </li>
                    <li class="logout-item">
                        <a log-out>
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-link">{{'HEADER_LABEL_LOGOUT_KEY' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="dashboard-content">
        <div class="welcome-section">
            <h1 class="welcome-title">{{'DASHBOARD_TITLE' | translate}}</h1>
            <p class="welcome-subtitle">{{'DASHBOARD_SUBTITLE' | translate}}</p>
        </div>
        <div class="apps-grid">
            <a id="{{extn.id}}" ng-href="{{extn.url}}" class="app-card" target="{{extn.target?extn.target:'_self'}}" ng-repeat="extn in appExtensions" ng-if="isVisibleExtension(extn)">
                <div class="app-card-icon">
                    <i class="{{extn.icon}}"></i>
                </div>
                <div class="app-card-label">{{extn | titleTranslate}}</div>
            </a>
        </div>
    </div>
</div>
